* {
    margin: 0;
}

.logo {
    background-color: black;
}

.logo1 {
    width: 250px;
}

.display {
    text-align: center;
}

.titulo {
    margin-top: 150px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 50pt;
}

.button {
    text-align: center;
    margin-top: 25px;
}

.botao {
    background-color: rgb(159, 219, 199);
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.botao:hover {
    background-color: rgb(43, 253, 183); 
}

body {
    background-image: url('img/BACKGROUND-04.jpg');
    color: white;
    background-size: cover;
    background-position: center;
}

.subtitulo {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30pt;
    margin-top: 55px;
}

.acessar {
    margin-top: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 768px) {

    .titulo {
        font-size: 15pt;
    }
    
    .subtitulo {
        font-size: 10pt;
    }
}
